.channelrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.channelrow_text {
  display: flex;
  flex-direction: column;
}

.channelrow_text > p {
  color: #606060;
  font-size: small !important;
}

.channelrow_text > h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.channelrow_logo {
  height: 120px !important;
  width: 120px !important;
  margin: 10px 60px;
}
